{% extends "base.html" %} {% block content %}

<div class="row justify-content-center mt-5">
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-body">
        <h3 class="text-center mb-4">Admin Access</h3>

        <!-- Error Message -->
        {% if error %}
        <div class="alert alert-danger text-center">Wrong password</div>
        {% endif %}

        <form method="POST">
          <div class="mb-3">
            <label class="form-label"> Enter Admin Password </label>

            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Enter password"
              required
            />
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-dark">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
