{% extends "base.html" %}

{% block content %}

<h2>Companies</h2>

<table border="1" cellpadding="10">

<tr>
<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Status</th>
<th>Action</th>
</tr>

{% for company in companies %}

<tr>

<td>{{ company.id }}</td>

<td>{{ company.company_name }}</td>

<td>{{ company.email }}</td>

<td>{{ company.approval_status }}</td>

<td>

<a href="/admin/company/approve/{{ company.id }}">Approve</a>

<a href="/admin/company/reject/{{ company.id }}">Reject</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}